@import url(./button.css);
@import url('./input.css');
@import url('./list.css');

:root {
  font-family: "Lato";
  --my-global-gap: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 480px;
  margin: 100px auto;
  padding: var(--my-global-gap);
  display: flex;
  flex-direction: column;
  gap: 32px;
}


/* @media */
/* @keyframes */