:root {
  font-family: "Lato";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 480px;
  margin: 100px auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

ul {
  margin-left: 16px;
}

button {
  font-family: inherit;
  padding: 10px 14px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: black;
  color: aqua;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

input {
  font-family: inherit;
  padding: 10px 14px;
  border: 1px solid black;
  border-radius: 8px;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

/* 
input::placeholder {
  color: lightgray;
} */

/* input:focus {
  border-color: aqua;
} */
